{{ define "title" }}
{{ .Site.Title }} &ndash; {{ .Title }}
{{ end }}

{{ define "main" }}
{{ .Content }}

<div class="students">
    {{ range $cohort := .Param "cohort" }}
    <h2>{{ $cohort.name}}</h2>
    <div class='student-group'>
        {{ range $student := $cohort.students }}
        <div class='student'>
            <img src="{{ $student.image }}" />
            {{ if $student.vimeo }}
            <iframe title="vimeo-player" src="{{ $student.vimeo }}" frameborder="0" allowfullscreen></iframe>
            {{ else if $student.youtube }}
            <iframe width="560" height="315" src="{{ $student.youtube }}" frameborder="0" allowfullscreen></iframe>
            {{ end }}
            <h3>{{ $student.name }}</h3>
        </div>
        {{ end }}
    </div>
    {{ end }}
</div>
{{ end }}