{{ define "title" }}
{{ .Site.Title }} &ndash; {{ .Title }}
{{ end }}

{{ define "main" }}
<style>
    .selected-projects {
        display: grid;
        gap: 0px 20px;
    }

    /* 1 column for small screen sizes */
    .selected-projects {
        grid-template-columns: 100%;
    }

    /* 2 columns otherwise */
    @media (min-width: 780px) {
        .selected-projects {
            grid-template-columns: 50% 50%;
        }
    }

    .student-project {
        margin-bottom: 1rem;
    }

    .student-project h3 {
        font-size: 1rem;
    }

    .student-project .title {
        text-transform: uppercase;
    }

    .project-video_container {
        background-color: black;
        display: flex;
    }

    .project-video_container iframe {
        width: 100%;
        aspect-ratio: 2;
    }
</style>

{{ .Content }}

<div class="selected-projects">
    {{ range $cohort := .Param "cohort" }}
    {{ range $project := $cohort.projects }}
    <div class="student-project">
        <div class="project-video_container">
            <iframe src="{{ $project.video }}" frameborder="0" allowfullscreen></iframe>
            <img src="{{ $project.image}}">
        </div>
        <h3><span class="title">{{ $project.name }}</span> <span class="authors">{{$project.authors}}</span></h3>
    </div>
    {{ end }}
    {{ end }}
</div>


{{ end }} {{/* main end */}}