{{ define "title" }}
{{ .Site.Title }} &ndash; {{ .Title }}
{{ end }}

{{ define "main" }}
{{/* Workshops overview */}}
{{.Content}}


{{ $workshops := sort (.Resources.Match "workshops/*") ".Name" }}
{{/* Table of contents */}}
<ul>
    {{ range $index, $w := $workshops }}
    <li>
        <a href="#{{- .Params.name | anchorize -}}">
            Workshop {{$index}} - {{ .Params.name }}
        </a>
    </li>
    {{ end }}
</ul>
<img class="img-fluid" style="width: 10%;" src="./AIA.jpg" />

{{/* Workshops proper */}}
{{ range $workshops }}
{{/* {{ . | jsonify (dict "indent" " ") }} */}}
{{ .Scratch.Set "workshop-id" (.Params.name | anchorize) }}
{{ partial "workshop" . }}
{{ end }}

{{ end }}