<div id="{{ .Scratch.Get `workshop-id` }}" class="workshop">
    <h2>{{.Params.name}}</h2>
    <p>Workshop Leaders:</p>
    {{.Params.leaders | safeHTML | markdownify}}
    <img class="img-fluid" src="{{.Params.headerImg}}" />
    {{.Content}}
    {{ if isset .Params "keywords" }}
    <div class='category'><span class='name'>Keywords:</span> {{ delimit .Params.keywords ", " }}</div>
    {{ end }}
    {{ if isset .Params "software" }}
    {{ $software := apply (apply .Params.software "safeHTML" ".") "markdownify" "." }}
    <div class='category'><span class='name'>Software:</span> {{ delimit $software ", " }}</div>
    {{ end }}
</div>